<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

  <div id="section" *ngIf="infirmier" >
    <section alx-dropzone (alx-ondrop)="affectation($event)" >
  <div class="detail">
  <mat-card class="card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{infirmier.prenom}}<strong>{{infirmier.nom}}</strong></mat-card-title>
      <mat-card-subtitle>ID:{{infirmier.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="'/data/'+(infirmier.photo)" alt="Photo infirmier" width="10"  >
    <mat-card-content>
      {{getAdresse(infirmier.adresse)}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Modifier</button>
      <button mat-button>Supprimer</button>
    </mat-card-actions>
  </mat-card>


  <div class="affecter">
    <div class="post-it"><strong class="note">Pour affecter un patient :</strong>
      <br>Vous pouvez drag un patient de la liste de gauche vers la page d'un infirmier à droite.
      <br>Ou vous pouvez choisir un patient dans la liste ci-dessous.
      <br><strong class="noir">Noir</strong>: ils sont affecté au un autre infirmier;

      <br><strong class="vert">Vert</strong>: ils sont déja affecté à ce infirmier;

      <br><strong class="rouge">Rouge</strong>: ils sont pas encore affecté.
    </div>
    <div class="spacer"></div>
  <div class="affectation">
      <mat-form-field>
        <mat-select placeholder="Affecter un patient" [(ngModel)]="selectedValue" name="pat">
          <mat-option *ngFor="let pat of patients" [value]="pat.numeroSecuriteSociale">
            <div [ngStyle]="{'color':pat.intervenant === infirmier.id ? 'green' : pat.intervenant ===''||pat.intervenant === null ? 'red' : 'black'}">{{pat.nom}}&nbsp;{{pat.prenom}}:{{pat.numeroSecuriteSociale}}</div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p> Selectionné: {{selectedValue}} </p>
    <div *ngIf="searchPat(selectedValue)">
      <div class="butAffect" [ngStyle]="{'display': searchPat(selectedValue).intervenant === infirmier.id ? 'none': 'inline-block'}" >
        <button mat-button (click) ="affectation(searchPat(selectedValue), infirmier.id)">Affecter</button>
      </div>
      <div class="butDesAffect" [ngStyle]="{'display': searchPat(selectedValue).intervenant === infirmier.id? 'inline-block': 'none'}">
        <button mat-button (click) ="desaffectation(searchPat(selectedValue), infirmier.id)">Desaffecter</button>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="patsAffectes">
    <table mat-table [dataSource]="dataAffectees" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef > NUMERO SECURITE SOCIALE </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroSecuriteSociale}} </td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef > PRENOM </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef > NOM </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    </section>
</div>
